* {
  color: rgb(116, 115, 115);
}

a {
  color: rgb(116, 115, 115);
}

a:hover {
  color: rgb(73, 73, 73);
  text-decoration: none;
}

button:focus,
.btn.focus, 
.btn:focus {
  outline: none;
  box-shadow: none;
}

.red-btn {
  border: 1px solid #c22424;
  color: #c22424;
  padding: .2rem .4rem;
}

.red-btn:hover {
  background: #c22424;
  color: white;
}

.category {
  color: #c22424;
}

.datetime {
  color: grey;
}

.card-header p {
  color: rgb(73, 73, 73);
  font-size: 25px;
}

.card .badge {
  border: 1px solid #c22424;
  color: #c22424;
}

.underline-animation {
  display: inline-block;
  text-decoration: none;
  position: relative;
}

.underline-animation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  transition: 0.4s;
}

.underline-animation:hover::after {
  width: 100%;
}

/*Auth Form*/
.auth-form-container {
  overflow: hidden;
  border-radius: 0.8rem;
  width: 450px;
  margin: 0 auto;
}

.cover-photo {
  position: relative;
  background-image: url("https://cdn.pixabay.com/photo/2015/03/26/10/28/restaurant-691397_960_720.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 130px;
}

.cover-photo .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(185, 183, 183, 0.5);
}

.cover-photo h2 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 2px rgb(110, 110, 110);
}

/*Form*/
.form-signin,
.form-signup {
  padding: 2rem 2rem 1.3rem 2rem;
}

.form-signin .form-control,
.form-signup .form-control {
  padding: 0.375rem 0;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #c5c5c5;
}

.form-signin .form-control:focus,
.form-signup .form-control:focus {
  border-bottom-color: #c22424c4;
  box-shadow: none;
}

.form-signin .buttons,
.form-signup .buttons {
  margin-top: 2.2rem;
}

.form-signup .btn:focus,
.form-signin .btn:focus {
  box-shadow: none;
}

.form-signin .buttons .btn,
.form-signup .buttons .btn {
  border-radius: 1rem;
  padding: 0.3rem 1.5rem;
}

.log-in-buttons .login,
.sign-up-buttons .signup {
  background: #c22424c4;
  color: white;
}

.log-in-buttons .login:hover,
.sign-up-buttons .signup:hover {
  background: #c22424;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(189, 189, 189, 1);
  -moz-box-shadow: 1px 1px 3px 0px rgba(189, 189, 189, 1);
  box-shadow: 1px 1px 3px 0px rgba(189, 189, 189, 1);
  transition: all 0.2s linear;
}

.log-in-buttons .signup,
.sign-up-buttons .login {
  color: #626363;
}

.log-in-buttons .signup:hover,
.sign-up-buttons .login:hover {
  text-decoration: underline;
}

/*Pagination*/
.page-link {
  color: #c22424;
}

.page-item.active .page-link {
  background: #c22424;
  border-color: #c22424;
}

.page-link:focus {
  box-shadow: none;
}

.page-link:hover,
.page-link:hover span {
  background-color: #c22424;
  border-color: #c22424;
  color: white;
}

/*display area  size*/
#following ,
#follower ,
#comment ,
#favorite  {
  border-top: 5px solid #c22424;
}

#following .card-body,
#follower .card-body,
#comment .card-body,
#favorite .card-body {
  max-height: 280px;
  overflow-y: scroll;
}

#following .header,
#follower .header,
#comment .header,
#favorite .header {
  color: #c22424;
  font-size: 1.2rem;
}

#following h5,
#follower h5,
#comment h5,
#favorite h5 {
  color: #c22424;
  font-size: 1.1rem;
}

/*Commented Restaurants*/
a.media {
  color: rgb(100, 100, 100);
}

a.media:hover {
  color: rgb(73, 73, 73);
}

.media .media-image {
  width: 64px;
  height: 64px;
}

.media .media-image .loader-container {
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.media .media-image .loader {
  border: 4px solid #f3f3f3;
  border-top: 5px solid rgb(133, 133, 133);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

/*Control spin steps*/
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}

@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); }
}

.media img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 64px;
  height: auto;
}

/*md size*/
@media screen and (min-width: 768px) {
  /*display area  size*/
  #following .card-body,
  #follower .card-body,
  #comment .card-body,
  #favorite .card-body {
    height: 280px;
  }
}

/*Slide Transition*/
.slide-enter-active {
  animation: slide-in 0.4s ease-out forwards;
}

.slide-leave-active {
  animation: slide-in 0.4s ease-out backwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/*Fade Up Transition*/
.fade-up-enter {
  transform: translateY(20px);
  opacity: 0;
}

.fade-up-enter-active {
  transition: all 0.4s linear;
}

.fade-up-leave {
  opacity: 0;
}

.fade-up-leave-active {
  position: absolute;
}

/*Fade In transition*/
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: all 0.2s linear;
}

.fade-leave-active {
  opacity: 0;
  transition: opacity 0.2s linear;
}