* {
  color: rgb(116, 115, 115);
}

a {
  color: rgb(116, 115, 115);
}

a:hover {
  color: rgb(73, 73, 73);
  text-decoration: none;
}

button:focus,
.btn.focus, 
.btn:focus {
  outline: none;
  box-shadow: none;
}

.red-btn {
  border: 1px solid #c22424;
  color: #c22424;
  padding: .2rem .4rem;
}

.red-btn:hover {
  background: #c22424;
  color: white;
}

.category {
  color: #c22424;
}

.datetime {
  color: grey;
}

.card-header p {
  color: rgb(73, 73, 73);
  font-size: 25px;
}

.card .badge {
  border: 1px solid #c22424;
  color: #c22424;
}

.underline-animation {
  display: inline-block;
  text-decoration: none;
  position: relative;
}

.underline-animation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  transition: 0.4s;
}

.underline-animation:hover::after {
  width: 100%;
}